* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#img {
    width: auto;
    height: 400px;
}

#gallery {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

#gallery img {
    width: 100px;
    height: 100px;
}